@charset "utf-8";
section .row .col-xl-4 {
    text-align: center;
    padding-top: 25px;
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    background-color: #CD8D34;
}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary:hover {
    background-color: #FFFFFF;
	color: #000000;
}
.card.col-md-4.col-xl-12 .card-body .card-title {
    color: #2A59FF;
}
.row .col-xl-4 h3 {
    padding-bottom: 0px;
    margin-bottom: 20px;
    margin-top: 16px;
}
.col-xl-4 .card.col-md-4.col-xl-12 .card-img-top {
    margin-left: -1px;
    margin-top: 12px;


}
.card.col-md-4.col-xl-12 .card-body .btn.btn-primary {
    margin-bottom: -1px;
    margin-top: -10px;

}
.text-center {
    margin-top: 40px;
}
.U-shopmen-heading{
    margin-top: 500px;
}